@import '../../App.scss';

.cart_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 288px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
  background-color: $c-surface;
}

.button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.button_image {
  width: 16px;
  height: 16px;
}

.image_container {
  max-width: 80px;
  max-height: 80px;
}

.image {
  width: 66px;
  height: 66px;
}

.title {
  font-family: Mont;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}

.amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.count {
  font-family: Mont;
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  width: 32px;
  height: 32px;
}