@import '../../App.scss';

.block {
    grid-column: 1 / -1;
}

.top_block {
    margin-bottom: 32px;

    @include respond-to(tablet) {
      margin-bottom: 40px;
    }
}

.title {
    @include h1;
}

.amount_models {
    @include body-text;
    color: var(--c-secondary);
}