@import '../../styles/utils/mixins';

h3 {
  @include h3;
  padding-bottom: 16px;
  border-bottom: 1px solid $c-elements;

}

.section {
  margin: 56px 0px;

  @include respond-to(tablet) {
    margin-top: 64px;
  }
}

.section_container {
  display: flex;
  flex-direction: column;
  gap: 56px;

  @include respond-to(tablet) {
    gap: 64px;
  }

  @include respond-to(desktop) {
    display: flex;
    flex-direction: row;
    gap: 64px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 16px;
  max-width: 600px;

  h4 {
    @include h4;
    margin-bottom: 16px;
  }

  p {
    @include body-text;
    color: $c-secondary;
  }
}

.tech_specs {
  flex-grow: 1;
}

table {
  width: 100%;
  margin-top: 25px;
}

tbody {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

tr {
  display: flex;
  justify-content: space-between;
  height: 21px;
}

td {
  @include body-text;

  &:first-child {
    color: $c-secondary;
  }

  &:last-child {
    text-align: right;
    color: $c-white;
  }
}
