@import '../../App.scss';

.navLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  padding: 8px 0;
  line-height: 0.9;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4%;
  color: $c-secondary;

  &::after {
    content: '';
    display: block;
    background-color: $c-white;
    height: 2px;
    position: absolute;
    width: 0;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
  }

  &:active,
  &:hover {
    color: $c-white;

    &::after {
      width: 100%;
    }
  }

  @include respond-to(tablet) {
    height: 48px;

    &::after {
      height: 3px;
    }

    &:hover,
    &.active {
      color: $c-white;

      &::after {
        width: 100%;
      }
    }
  }

  @include respond-to(desktop) {
    height: 64px;

    &::after {
      height: 3px;
    }

    &:hover,
    &.active {
      color: $c-white;

      &::after {
        width: 100%;
      }
    }
  }
}