@import '../../App.scss';

.list {
  width: 100%;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
  justify-items: start;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;

  @include respond-to(tablet) {
    grid-template-columns: 3fr 2fr;
  }

  @include respond-to(desktop) {
    grid-template-columns: 2fr 3fr;
  }
}

.options {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr); // Мобільна версія
  column-gap: 16px;

  @include respond-to(tablet) {
    grid-template-columns: minmax(150px, 2fr) minmax(100px, 1fr); // Планшет: трохи більші пропорції для першої колонки
  }

  @include respond-to(desktop) {
    grid-template-columns: minmax(272px, 1fr) minmax(100px, 1fr); // Десктоп: більше місця для першої колонки
  }
}