@import '../../App.scss';

.change {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid $c-elements;
  path{fill: $c-icons};

  &:hover {
    background-color: $c-surface-two;
    path{fill: $c-white}
  }
}