@import '../../App.scss';

.container {
  box-sizing: border-box;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  padding-inline: 16px;
  min-height: calc(100vh - (map-get($header-heights, mobile-tablet) + map-get($top-margin, mobile) + map-get($footer-heights, mobile) + map-get($bottom-margin, mobile)));

  @include respond-to(tablet) {
    padding: 0 24px;
    grid-template-columns: repeat(12, 1fr);
    min-height: calc(100vh - (map-get($header-heights, mobile-tablet) + map-get($top-margin, tablet) + map-get($footer-heights, tablet-desktop) + map-get($bottom-margin, tablet-desktop)));

  }

  @include respond-to(desktop) {
    padding: 0 32px;
    grid-template-columns: repeat(24, 32px);
    min-height: calc(100vh - (map-get($header-heights, desktop) + map-get($top-margin, desktop) + map-get($footer-heights, tablet-desktop) + map-get($bottom-margin, tablet-desktop)));

  }
}