@import '../../App.scss';

.container {
    box-sizing: border-box;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    padding: 0 16px;

    @include respond-to(tablet) {
        padding: 0 24px;
        grid-template-columns: repeat(12, 1fr);
    }

    @include respond-to(desktop) {
        padding: 0 32px;
        grid-template-columns: repeat(24, 32px);
    }
}