@import '../../App.scss';

.block {
  grid-column: 1 / -1;
}

.top_block {
  margin-bottom: 32px;

  @include respond-to(tablet) {
    margin-bottom: 40px;
  }
}

.title {
  @include h1;
}

.amount_models {
  @include body-text;
  color: $c-secondary;
}

.list {
  width: 100%;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
  justify-items: start;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.noFavorites {
  grid-column: 1 / -1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  width: 100%; 


  @include respond-to(tablet) {
    padding-top: 60px;
  }
}

.noFavoritesImage {
  width: 256px;
  background-color: $c-white;
  border-radius: 30px;
  height: auto;

  @include respond-to(tablet) {
    width: 480px;
  }
}

.noFavoritesText {
  @include h2;
  font-size: 18px;
  margin-top: 32px;
  color: $c-white;
  padding-bottom: 22px;
}


.go_back {
  @include button;

  min-width: 240px;
  max-width: 480px;
  width: 100%;
  height: 48px;

  &::after {
    content: url('../../../public/img/icons/arrow-right.svg');
    margin-left: 5px;
    width: 16px;
    height: 16px;
  }
}