@import '../../App.scss';

.container {
  position: relative;
  width: 287px;
  padding: 16px 24px;
  background-color: var(--c-surface);

  @include respond-to(tablet) {
    width: 592px;
    padding: 24px 42px;
  }

  @include respond-to(desktop) {
    width: 752px;
    padding: 32px 52px;
  }
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.closeImage {
  width: 16px;
  height: 16px;

  @include respond-to(tablet) {
    width: 24px;
    height: 24px;
  }
}

.title {
  @include h3;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;

  @include respond-to(tablet) {
    @include h2;
    margin-bottom: 16px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include respond-to(tablet) {
    gap: 12px;
  }

  @include respond-to(desktop) {
    gap: 16px;
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.label {
  @include small-text;
  font-size: 12px;
  color: var(--c-white);
  padding-bottom: 4px;

  @include respond-to(tablet) {
    @include body-text;
  }
}

.input {
  @include small-text;
  font-size: 12px;
  padding: 6px;
  color: var(--c-white);
  border: 2px solid var(--c-surface-two);
  background-color: var(--c-black);
  appearance: none;
  outline: none;

  &:focus {
    border-color: var(--c-accent);
    background-color: var(--c-secondary);
  }

  &::placeholder {
    color: var(--c-secondary);
  }

  &:-webkit-autofill {
    background-color: var(--c-secondary) !important;
    -webkit-text-fill-color: var(--c-white) !important;
    box-shadow: 0 0 0px 50px var(--c-secondary) inset !important;
  }

  @include respond-to(tablet) {
    @include body-text;
    padding: 8px;
  }
}

.row {
  display: flex;
  padding-bottom: 8px;
  gap: 8px;

  @include respond-to(tablet) {
    padding-bottom: 16px;
    gap: 12px;
  }
}

.group {
  flex: 1;

  &:first-child {
    flex: 2;
  }

  &:last-child {
    flex: 1;
  }

  .input {
    width: 100%;
  }
}

.button_container {
  display: flex;
  justify-content: center;
}

.button {
  @include button;
  @include small-text;
  padding: 10px;
  width: 156px;

  @include respond-to(tablet) {
    @include body-text;
    width: 252px;
    height: 44px;
  }

  @include respond-to(desktop) {
    @include body-text;
    width: 352px;
    height: 54px;
  }
}

.errorInput {
  border-color: var(--c-red);
}

.errorText {
  @include small-text;
  font-size: 8px;
  margin-top: 4px;
  color: var(--c-red);

  @include respond-to(tablet) {
    @include small-text;
    margin-top: 6px;
  }

  @include respond-to(desktop) {
    @include body-text;
  }
}
