//COLORS
//SIZES 

$header-heights: (
  mobile-tablet: 48px,
  desktop: 64px
);


$footer-heights: (
  mobile: 257px,
  tablet-desktop: 96px
);

$top-margin: (
  mobile: 24px,
  tablet: 32px,
  desktop: 56px,
);


$bottom-margin: (
  mobile: 64px,
  tablet-desktop: 80px
);

// TRANSITION

$duration-default: .3s;
$easing-default: ease;