@import '../../App.scss';

.cart {
  font-family: Mont, sans-serif;
  color: $c-white;
  grid-column: 1/-1;
  
}

.inner {
  min-width: 288px;
  margin-bottom: 56px;
  display: flex;
  flex-direction: column;

  @include respond-to(tablet) {
    margin-bottom: 64px;
  }

  @include respond-to(tablet) {
    margin-bottom: 80px;
  }

}

.cart_block_container {
  display: flex;
  flex-direction: column;
  gap: 0;



  @include respond-to(desktop) {
    flex-direction: row;
    align-items: start;
    gap: 16px;
  }
}


.title {
  margin-top: 24px;
  margin-bottom: 32px;

  @include h1;
}

.total {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  border: 1px solid $c-elements;

  @include respond-to(tablet) {
width: 100%;
  }
}

.number {
  font-size: 32px;
  font-weight: 800;
  line-height: 41px;
}


.items {
  color: $c-secondary;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;


}

.line {
  border: none;
  border-top: 1px solid $c-elements;
  width: 100%;
  margin: 16px 0;

  @include respond-to(desktop) {
  margin: 24px 0;

  }
}


.main_button {
  @include button;

  min-width: 100%;
  height: 48px;

  &:hover {
    background-color: $c-accent;
  }

  &_text {
    color: $c-white;
    font-family: Mont, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
