@import '../../App.scss';

.header {
  position: sticky;
  background-color: $c-black;
  z-index: 1;
  top: 0;
  height: map-get($header-heights, mobile);
  margin-bottom: 24px;

  @include respond-to(tablet) {
  height: map-get($header-heights, tablet-desktop);
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
  padding-left: 16px;
  border-bottom: 1px solid $c-elements;


  @include respond-to(tablet) {
    justify-content: start;
  }
  @include respond-to(desktop) {
    padding-left: 24px;
  }
}

.logoContainer {
  width: 64px;
  height: 22px;
  
  @include respond-to(tablet) {
    margin-right: 32px;
  }
  @include respond-to(desktop) {
    margin-right: 48px;
    width: 80px;
    height: 28px;
  }
}

.navContainer {
  display: none;
  @include respond-to(tablet) {
    display: flex;
    justify-content: start;
  }
  @include respond-to(desktop) {
    margin-inline: 24px;
  }
}

.navigation {
  display: flex;
  gap: 32px;

  @include respond-to(desktop) {
    gap: 64px;
  }
}
.profile{
  width: 28px;
  height: 28px;
  margin-right: 12px;
  img{
    width: 100%;
    height: 100%;
  }
}
.loader{
  margin-right: 8px;
}
.signout{
  @include small-text;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 12px;
  padding: 8px 0;
  line-height: 0.9;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4%;
  color: $c-secondary;

  transition: color $duration-default $easing-default;
  &:hover{
    color: $c-white;
  }
}


.iconsBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.favorites,
.cart {
  display: none;
  cursor: pointer;
  position: relative;

  @include respond-to(tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-left: 1px solid $c-elements;
  }
  
  &:hover {
    background-color: $c-icons;
  }

  @include respond-to(desktop) {
    width: 64px;
    height: 64px;
  }

  &::after {
    content: '';
    display: block;
    background-color: $c-white;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    transition: transform $duration-default $easing-default;
    transform: scale(0);
  }

  &:hover,
  &.active {
    color: $c-white;

    &::after {
      transform: scale(1);
    }
  }
}

.favoritesButton, 
.cartButton {
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.burgerIcon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid $c-elements;

  @include respond-to(tablet){
    display: none;
  }
}

.logo_icon {
  background-image: url(../../../public/img/icons/logo.svg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.side_menu {
  position: fixed;
  top: 0;
  left: -110%;
  width: 100vw;
  height: 100vh;
  background-color: $c-black;
  transition: left $duration-default ease-in-out;
  z-index: 2;
  overflow: auto;
}

.side_menu.open {
  left: 0;
}

.countBadge {
  @include small-text;
  background-color: $c-red;
  color: $c-white;
  font-size: 9px;
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  border: 1px solid $c-black; 
  top: 9px;
  right: 9px;
  bottom: auto;
  left: auto;   

  @include respond-to(desktop){
    top: 17px;
    right: 17px;
  }
}
