@import '../../App.scss';

.breadcrumbs {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-right: 8px;
  margin-bottom: 24px;

  @include respond-to(tablet) {
    margin-bottom: 40px;
  }

}

.crumb_container {
  display: flex;
  align-items: center;
}

.crumb {
  @include small-text;
  display: flex;
  align-items: center;
  color: $c-white;
  text-transform: capitalize;

  a {
    text-decoration: none;
    color: inherit;
    text-align: center;
    display: inline-block;
    transition: color $duration-default $easing-default;

    &:hover{
      color: $c-secondary;
    }
  }

  &.active {
    color: $c-secondary;
  }
}

.crumb_container:not(:last-child) .crumb::after {
  content: '';
  width: 16px;
  height: 16px;
  margin: 0 8px;
  background-image: url(/img/icons/Breadcrumbs/arrow-right.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon_container {
  height: 16px;
  width: 100%;
  display: flex;
  align-items: center;
}

.home_icon {
  background-image: url(/img/icons/Breadcrumbs/home-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
}



.icon_container::after {
  content: "";
  width: 16px;
  height: 16px;
  margin: 0 8px;
  background-image: url(../img/icons/Breadcrumbs/arrow-right.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}
