@import './constants/constSCSS.scss';
@font-face {
  font-family: "Mont";
  src: url(../public/fonts/Mont-Bold.otf);
  font-weight: 800;
}
@font-face {
  font-family: "Mont";
  src: url(../public/fonts/Mont-Regular.otf);
  font-weight: 600;
}
@font-face {
  font-family: "Mont";
  src: url(../public/fonts/Mont-SemiBold.otf);
  font-weight: 700;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == tablet {
    @media (min-width: 640px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

html {
  font-family: Mont, sans-serif;
  background-color: $c-black;
}
// ПРИКЛАД ЯК КОРИСТУВАТИСЬ МІКСІНОМ ДЛЯ СТВОРЕННЯ АДАПТИВНОГО ДИЗАЙНУ!!!
// .main {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;

//     @include respond-to(tablet) {
//       max-width: 639px;
//       padding-inline: 34px;

//     }

//     @include respond-to(desktop) {
//       max-width: 1240px;
//       padding-inline: 210px;

//     }
//   }