@import '../../App.scss';

.block {
  grid-column: 1 / -1;

  @include respond-to(tablet) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: start;
    column-gap: 16px;
  }

  @include respond-to(desktop) {
    grid-template-columns: repeat(24, 32px);
  }
}

.title {
  @include h2;
  grid-column: 1 / -1;
  margin-top: 16px;
  margin-bottom: 32px;
}

.container_image {
  height: 288px;
  margin-bottom: 16px;

  @include respond-to(tablet) {
    grid-column: 2 / 7;
    height: 287px;
  }

}

.image {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.collection {
  display: flex;
  justify-content: center;
  gap: 8px;
  height: 49px;
  margin-bottom: 40px;

  @include respond-to(tablet) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    flex-flow: wrap;
    justify-items: center;
    align-self: start;
  }
}

.collection_item {
  width: 51px;
  padding: 3px;
  border: 1px solid $c-elements;
  transition: border-color $duration-default $easing-default;
  cursor: pointer;
  
  &:not(.is_active):hover {
    border-color: $c-secondary;
  }

  @include respond-to(tablet) {
    max-width: 35px;
    max-height: 35px;
  }
}

.variant {
  @include respond-to(tablet) {
    grid-column: 7 / -1;
  }
}

.colors_title_box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  @include small-text;
}

.colors_title {
  color: $c-secondary;
}

.product_id {
  color: $c-icons
}

.color_list{
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
  padding-bottom: 23px;
  border-bottom: 1px solid $c-elements;
}

.color_wrapper {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $c-elements;
  transition: background-color $duration-default $easing-default;
  cursor: pointer;


  &:not(.active_color):hover {
    background-color: $c-secondary;
  }
}

.color_item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid $c-black;
}

.capacity_title {
  color: $c-secondary;
  margin-bottom: 8px;

  @include small-text;
}

.capacity_list {
  display: flex;
  gap: 8px;
  padding-bottom: 24px;
  margin-bottom: 32px;
  border-bottom: 1px solid $c-elements;
}

.capacity_item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding-inline: 8px;
  color: $c-white;
  border: 1px solid $c-icons;
  cursor: pointer;
  transition: border-color $duration-default $easing-default;
  
  &:not(.active_capacity):hover {
    border-color: $c-secondary;
  }

  @include body-text;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.discount_price {
  @include h2;

  font-size: 32px;
  line-height: 41px;
}

.regular_price {
  @include h3;

  font-size: 22px;
  line-height: 31px;
  font-weight: 600;
  color: $c-secondary;
  text-decoration: line-through;
}

.buttons {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.add_to_cart_button {
  @include button;

  width: 176px;
  height: 48px;
  margin-bottom: 32px;
}

.heart_icon_button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;
  border: none;
  background-color: $c-surface-two;
  cursor: pointer;
  transition: background-color $duration-default $easing-default;


  &:hover {
    background-color: $c-icons;
  }
}

.specs {
  margin-bottom: 56px;
}

.specs_box {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.specs_title {
  @include small-text;

  color: $c-secondary;
}

.specs_desc {
  @include small-text;
}


// ACTIVE CLASS STYLES

.is_active {
  border-color: $c-white;
}

.active_color {
  background-color: $c-white;
}

.active_capacity {
  color: $c-black;
  background-color: $c-white;
  border-color: $c-white;
}

