@import '../../App.scss';

.block {
  grid-column: 1 / -1;
  width: 100%;
  margin-top: 24px;

  @include respond-to(tablet) {
    margin-top: 32px;
  }

  @include respond-to(tablet) {
    margin-top: 56px;
  }
}

.title {
  @include h1;

  position: relative;
  margin-bottom: 24px;

  @include respond-to(tablet) {
    font-size: 48px;
    margin-bottom: 24px;
  }

  @include respond-to(desktop) {
    margin-bottom: 56px;
  }
}