@import '../../App.scss';

.block {
    grid-column: 1 / -1;
    width: 100%;
    overflow: hidden;

}

.title {
    font-weight: 800;
    font-size: 32px;
    line-height: 1.28;
    margin-bottom: 24px;

    @include respond-to(tablet) {
        font-size: 48px;
        margin-bottom: 24px;
    }

    @include respond-to(desktop) {
        margin-bottom: 56px;
    }
}