@import '../../App.scss';

.go_back {
  display: flex;
  align-items: center;
  background-color: inherit;
  font-size: 12px;
  font-weight: 700;
  border: none;
  color: var(--c-white);
  font-family: Mont, sans-serif;
  cursor: pointer;
  width: 66px;
  height: 16px;
  transition: color $duration-default $easing-default;

  path {
    transition: fill $duration-default $easing-default;
  }

  &:hover {
    color: var(--c-accent-hover);

    path {
      fill: var(--c-accent-hover)
    }
  }
}

.svg_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  svg{
    margin: auto 0;
  }
}
