@import '../../App.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  padding: 16px;
  width: 288px;
  background-color: $c-surface;

  @include respond-to(tablet) {
    width: 328px;
    padding: 24px;
  }

  @include respond-to(desktop) {
    width: 368px;
    padding: 24px;
  }
}

.animation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.checkAnimation {
  width: 40px;
  height: 40px;

  @include respond-to(tablet) {
    width: 54px;
    height: 54px;
  }

  @include respond-to(desktop) {
    width: 54px;
    height: 54px;
  }
}

.title {
  @include h3;
  color: $c-white;
  margin-bottom: 8px;

  @include respond-to(tablet) {
    @include h3;
  }

  @include respond-to(desktop) {
    @include h3;
  }
}

.description {
  @include small-text;
  color: $c-secondary;
  margin-bottom: 16px;

  @include respond-to(tablet) {
    @include body-text;
  }

  @include respond-to(desktop) {
    @include body-text;
  }
}

.button {
  @include button;
  width: 264px;
  padding: 8px;

  @include respond-to(tablet) {
    padding: 10px;
    width: 280px;
  }

  @include respond-to(desktop) {
    padding: 12px;
    width: 320px;
  }
}
