@import '../../App.scss';

.slider_container {
  position: relative;
  


  :global {

    .slick-track {
      display: flex;
      gap: 16px;

      overflow: visible;

      @include respond-to(desktop) {
        overflow: hidden;
      }
    }

    .slick-slide {
      padding: 0 8px;
      min-width: 212px;
    
      // @include respond-to(tablet) {
      // min-width: 237px;
      // }
    
      // @include respond-to(desktop) {
      // min-width: 272px;
    
      // }

    }

    .slick-list {
      margin: 0 -8px;
    }
  }
}

// .slide {
//   width: 100%;

//   @include respond-to(tablet) {
//   width: 100%;
//   }

//   @include respond-to(desktop) {
//     width: 100%;

//   }
// }


.title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 24px;

  @include respond-to(tablet) {
    font-size: 48px;
    margin-bottom: 24px;
  }

  @include respond-to(desktop) {
    margin-bottom: 56px;
  }
}


.title {
  @include h2;
}

.buttons_block {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.button_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $c-surface-two;
  border: none;
  cursor: pointer;
}

.slick_prev,
.slick_next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;

  &:hover {
    background-color: $c-icons;
  }
}


.prev,
.next {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.prev {
  background-image: url(/public/img/icons/arrow-left.svg);
}

.next {
  background-image: url(/public/img/icons/arrow-right.svg);
}



button.slick-arrow .slick-next::before {
  display: none;
}