@import '../../App.scss';
@import '../../constants/constSCSS.scss';
@import '../../reset.scss';

.not_found {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 24px 16px;
  text-align: center;
  grid-column: 1 / -1;
  align-items: center;
  justify-content: center;

  @include respond-to(tablet) {
    padding-inline: 24px;
  }

  @include respond-to(desktop) {
    padding-inline: 32px;
  }
}

.img_container {
  max-width: 480px;
  max-height: 480px;
  background-color: $c-white;
  border-radius: 32px;
  margin-bottom: 24px;
}

.image {
  width: 100%;
  object-fit: contain;
}

.title {
  margin-bottom: 32px;
  font-size: 22px;
  color: $c-white;
  font-weight: 800;
  line-height: 1.4;

  @include respond-to(tablet) {
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: -0.01em;
  }
}

.description {

  font-size: 16px;
  line-height: 1.4;
  color: $c-white;
  margin-bottom: 32px;
  font-weight: 700;

  @include respond-to(tablet) {
    font-size: 20px;
    letter-spacing: -0.01em;
  }
}

.go_back {

  min-width: 240px;
  max-width: 500px;
  width: 100%;
  display: inline-block;
  padding: 13.5px;
  background-color: $c-accent;

  text-decoration: none;
  color: $c-white;
  font-size: 14px;
  ;
  line-height: 1.5;
  font-weight: 700;
  transition: background-color 0.3s;

  &:hover {
    background-color: $c-accent-hover;
  }
}